<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwprd Reset Successfull</title>
</head>
<body>
    <h2>Hi <%=user%>!</h2>
    <h2>Your Password reset was Successfull </h2>
    
</body>
</html>