<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>
<body>
    
    <h1></h1>
    <h2> Hi <%= user %>You requested a change of password</h2>
    <h2>here is your password reset token <%= token %></h2>

    <p>if you did not make this request,ignore this email </p>


    
</body>
</html>